.form-wrapper {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

h5 {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  color: grey;
}
